<a href="https://colab.research.google.com/github/mrsyamhfis/Python_Exercise_Projects/blob/main/Panda_First_Lesson(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/used_car_ads.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7,8,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Removing Duplicated Rows

In [3]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
3552907    False
3552908    False
3552909    False
3552910    False
3552911    False
Length: 3552912, dtype: bool

In [4]:
df.duplicated().sum()

0

0 meaning no duplicates found

if there were duplicates to be dropped:

In [5]:
df.drop_duplicates(inplace=True)

or

In [6]:
df=df.drop_duplicates()

then

In [7]:
df.duplicated().sum()

0

Handling missing values

In [8]:
df.isna()

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,True,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3552907,False,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False
3552908,False,False,True,False,True,False,False,True,True,True,True,True,False,False,False,False
3552909,False,False,False,False,False,False,False,True,True,True,True,True,True,False,False,False
3552910,False,False,True,False,True,True,False,True,True,True,True,True,True,False,False,False
3552911,False,True,True,True,True,True,False,True,True,True,True,True,True,False,False,False

In [9]:
df.isna().sum()

maker                   518915
model                  1133361
mileage                 362584
manufacture_year        370578
engine_displacement     743414
engine_power            554877
body_type              1122914
color_slug             3343411
stk_year               1708156
transmission            741630
door_count              614373
seat_count              749489
fuel_type              1847606
date_created                 0
date_last_seen               0
price_eur                    0
dtype: int64

In [12]:
df.isna().sum().sum()

13811308

In [13]:
df.shape #(no. of rows, no. of columns)

(3552912, 16)

In [14]:
(df.isna().sum()/ df.shape[0])*100 #percentage of missing values for each columns

maker                  14.605343
model                  31.899495
mileage                10.205263
manufacture_year       10.430261
engine_displacement    20.924076
engine_power           15.617527
body_type              31.605455
color_slug             94.103400
stk_year               48.077633
transmission           20.873863
door_count             17.292097
seat_count             21.095062
fuel_type              52.002583
date_created            0.000000
date_last_seen          0.000000
price_eur               0.000000
dtype: float64

In [15]:
df.maker.fillna(0, inplace = True) #filling missing values of 'maker' column with '0'

In [16]:
df.dropna(inplace = True, axis=1) #drop all columns with missing values

In [17]:
df.head()

,maker,date_created,date_last_seen,price_eur
0,ford,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,skoda,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,bmw,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,skoda,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,skoda,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71

In [18]:
df["is missing"] = df.maker.isna() #flagging missing values

In [19]:
df.head()

,maker,date_created,date_last_seen,price_eur,is missing
0,ford,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75,False
1,skoda,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31,False
2,bmw,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06,False
3,skoda,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77,False
4,skoda,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71,False

Changing data types

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3552912 entries, 0 to 3552911
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   maker           object
 1   date_created    object
 2   date_last_seen  object
 3   price_eur       object
 4   is missing      bool
dtypes: bool(1), object(4)
memory usage: 138.9+ MB

In [21]:
df.price_eur.dtype

dtype('float64')

In [28]:
df['price_eur'] = df.price_eur.astype('object')

In [29]:
df.price_eur.dtype

dtype('O')

Changing value

In [31]:
df.loc[0,'maker']='new value'

In [32]:
df.head

<bound method NDFrame.head of                  maker                   date_created  \
0            new value  2015-11-14 18:10:06.838319+00
1                skoda  2015-11-14 18:10:06.853411+00
2                  bmw  2015-11-14 18:10:06.861792+00
3                skoda  2015-11-14 18:10:06.872313+00
4                skoda  2015-11-14 18:10:06.880335+00
...                ...                            ...
3552907          skoda   2017-03-16 18:57:35.46558+00
3552908          skoda  2017-03-16 18:57:37.761349+00
3552909          skoda  2017-03-16 18:57:40.435847+00
3552910          skoda  2017-03-16 18:57:43.595523+00
3552911  mercedes-benz  2017-03-16 19:22:23.946774+00

                        date_last_seen price_eur  is missing
0         2016-01-27 20:40:15.46361+00  10584.75       False
1         2016-01-27 20:40:15.46361+00   8882.31       False
2         2016-01-27 20:40:15.46361+00  12065.06       False
3         2016-01-27 20:40:15.46361+00   2960.77       False
4         2016-01-27 20:40:15.46361+00   2738.71       False
...                                ...       ...         ...
3552907   2017-03-16 18:57:35.46558+00   1295.34       False
3552908  2017-03-16 18:57:37.761349+00   1295.34       False
3552909  2017-03-16 18:57:40.435847+00   1295.34       False
3552910  2017-03-16 18:57:43.595523+00   1295.34       False
3552911  2017-03-16 19:22:23.946774+00   1295.34       False

[3552912 rows x 5 columns]>

In [33]:
df.loc[0]

maker                                 new value
date_created      2015-11-14 18:10:06.838319+00
date_last_seen     2016-01-27 20:40:15.46361+00
price_eur                              10584.75
is missing                                False
Name: 0, dtype: object